// Mixins in here

.flex (@j, @a) {
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.button (@w, @h, @f, @c, @r, @o) {
    width: @w;
    height: @h;
    font-size: @f;
    background-color: darken(@c, 15%);
    border-radius: @r;
    color: @o;
}

.hover (@b, @c) {
    background-color: @b;
    color: @c; 
}

.grow (@s) {
    transform: scale(@s);
}

.animation (@d, @n, @i) {
    animation-duration: @d;
    animation-name: @n;
    animation-iteration-count: @i;
}