// Navigation Styles here

header {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    padding-bottom: 2.5em;
    .flex (space-between, center);

    nav{
        width: 400px;
        .flex (space-around, baseline);

        a {
            text-decoration: none;
            color: @shark;
            font-size: 1.75rem;
        }
    }


}